In [9]:
# import lab
import pandas as pd
import numpy as np
import gensim
from random import sample

In [10]:
# Load data
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [11]:
train_df.isnull().sum()

user_sequence         0
user_id               0
challenge_sequence    0
challenge             0
dtype: int64

In [12]:
test_df.isnull().sum()

user_sequence         0
user_id               0
challenge_sequence    0
challenge             0
dtype: int64

In [13]:
train_df,test_df.info

(       user_sequence  user_id  challenge_sequence challenge
 0             4576_1     4576                   1   CI23714
 1             4576_2     4576                   2   CI23855
 2             4576_3     4576                   3   CI24917
 3             4576_4     4576                   4   CI23663
 4             4576_5     4576                   5   CI23933
 ...              ...      ...                 ...       ...
 903911      113839_9   113839                   9   CI24992
 903912     113839_10   113839                  10   CI28586
 903913     113839_11   113839                  11   CI28610
 903914     113839_12   113839                  12   CI26388
 903915     113839_13   113839                  13   CI28630

 [903916 rows x 4 columns],
 <bound method DataFrame.info of        user_sequence  user_id  challenge_sequence challenge
 0             4577_1     4577                   1   CI23855
 1             4577_2     4577                   2   CI23933
 2             4577_3     4577                   3   CI24917
 3             4577_4     4577                   4   CI24915
 4             4577_5     4577                   5   CI23714
 ...              ...      ...                 ...       ...
 397315      113838_6   113838                   6   CI23691
 397316      113838_7   113838                   7   CI24138
 397317      113838_8   113838                   8   CI23714
 397318      113838_9   113838                   9   CI24530
 397319     113838_10   113838                  10   CI23612

 [397320 rows x 4 columns]>)

In [14]:
train_df.shape, test_df.shape

((903916, 4), (397320, 4))

In [15]:
train=train_df.groupby('user_id').challenge.apply(lambda x: ' '.join(x)).reset_index()

In [16]:
train

       user_id                                          challenge
0         4576  CI23714 CI23855 CI24917 CI23663 CI23933 CI2513...
1         4580  CI23663 CI23855 CI23933 CI23975 CI24530 CI2371...
2         4581  CI26155 CI26156 CI26157 CI26158 CI26159 CI2616...
3         4582  CI23855 CI24915 CI24917 CI23933 CI23663 CI2495...
4         4585  CI23855 CI23975 CI24917 CI25135 CI23848 CI2371...
...        ...                                                ...
69527   113833  CI23933 CI24530 CI25298 CI24876 CI26056 CI2443...
69528   113835  CI23855 CI23933 CI25258 CI23769 CI25024 CI2502...
69529   113836  CI24230 CI24931 CI26051 CI26920 CI24957 CI2495...
69530   113837  CI23880 CI23933 CI26052 CI24866 CI25049 CI2567...
69531   113839  CI24915 CI24931 CI24954 CI24968 CI24957 CI2572...

[69532 rows x 2 columns]

In [17]:
test=test_df.groupby('user_id').challenge.apply(lambda x: ' '.join(x)).reset_index()
test

       user_id                                          challenge
0         4577  CI23855 CI23933 CI24917 CI24915 CI23714 CI2366...
1         4578  CI23663 CI23855 CI24917 CI23933 CI23975 CI2371...
2         4579  CI26939 CI26940 CI26941 CI26942 CI26943 CI2694...
3         4583  CI23663 CI23855 CI23975 CI23714 CI23848 CI2393...
4         4584  CI23855 CI23975 CI25135 CI23848 CI23714 CI2491...
...        ...                                                ...
39727   113829  CI23663 CI23933 CI25298 CI24876 CI25297 CI2437...
39728   113830  CI23929 CI23933 CI24230 CI23769 CI23662 CI2369...
39729   113831  CI23933 CI24621 CI24953 CI24206 CI26056 CI2487...
39730   113834  CI23663 CI24621 CI24931 CI24939 CI24940 CI2492...
39731   113838  CI23769 CI23933 CI25175 CI24866 CI23648 CI2369...

[39732 rows x 2 columns]

In [18]:
set(train.user_id).intersection(test.user_id )

set()

In [21]:
sentence_list=pd.concat((train.challenge,test.challenge)).apply(lambda x: x.split())
#sentence_list= train.challenge.apply(lambda x: x.split())

In [25]:
neg=10
itera=90
window=6
size=600
model=gensim.models.Word2Vec(sentence_list,size=size,window=window,workers=8,min_count=0, hs=1,iter=itera,sg=1)
model.save('word2vec1_file')

/usr/local/lib/python3.6/dist-packages/smart_open/smart_open_lib.py:253: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

In [26]:
 #model= gensim.models.Word2Vec.load('word2vec_solved_iter__noshuf_5window_100_size_500')

In [27]:
model= gensim.models.Word2Vec.load('word2vec1_file')

/usr/local/lib/python3.6/dist-packages/smart_open/smart_open_lib.py:253: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

In [28]:
model.most_similar('CI23855')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `most_similar` (Method will be removed in 4.0.0, use self.wv.most_similar() instead).
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[('CI23663', 0.32980796694755554),
 ('CI23975', 0.3227970004081726),
 ('CI25135', 0.31081363558769226),
 ('CI23933', 0.29589593410491943),
 ('CI23714', 0.29483652114868164),
 ('CI24915', 0.28315097093582153),
 ('CI23913', 0.28143778443336487),
 ('CI24958', 0.25591856241226196),
 ('CI25124', 0.24800172448158264),
 ('CI23848', 0.24483412504196167)]

In [45]:
from keras.models import Sequential
from keras.layers.core import Dense, Dropout, Activation
from keras.layers import  TimeDistributed, concatenate, Bidirectional, Masking, RepeatVector
from keras.layers.embeddings import Embedding
from keras.layers.recurrent import LSTM, GRU, SimpleRNN
from keras.layers.convolutional import Convolution1D, MaxPooling1D

In [46]:
pretrained_weights = model.wv.syn0
vocab_size, emdedding_size = pretrained_weights.shape
print('Result embedding shape:', pretrained_weights.shape)

Result embedding shape: (5502, 600)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `syn0` (Attribute will be removed in 4.0.0, use self.wv.vectors instead).
  """Entry point for launching an IPython kernel.

In [47]:
pretrained_weights.shape

(5502, 600)

In [48]:
def word2idx(word):
  return model.wv.vocab[word].index
def idx2word(idx):
  return model.wv.index2word[idx]

In [49]:
# generate int sequences for challenge sentences
train_seq=np.array(train.challenge.apply(lambda x: x.split()).apply(lambda x: ([(word2idx(y)) for y in x])).tolist())
test_seq=np.array(test.challenge.apply(lambda x: x.split()).apply(lambda x: ([(word2idx(y)) for y in x])).tolist())

In [50]:
train_seq.shape

(69532, 13)

In [51]:
xtrain=train_seq[:,:10]
ytrain= train_seq[:,10]
xtrain.shape, ytrain.shape

((69532, 10), (69532,))

In [52]:
# add 11th,12th,13th challenge to outcome
xtrain= np.concatenate((xtrain,xtrain,xtrain),axis=0)
ytrain= np.concatenate((train_seq[:,10],train_seq[:,11],train_seq[:,12]))

In [53]:
# define nn model
emdedding_size=600
vocab_size=5502
keras_model2 = Sequential()
keras_model2.add(Embedding(input_dim=vocab_size, output_dim=emdedding_size, 
                    weights=[pretrained_weights]))
keras_model2.add(GRU(units=emdedding_size))
keras_model2.add(Dense(units=vocab_size))

keras_model2.add(Activation('softmax'))
keras_model2.compile(optimizer='adam', loss='sparse_categorical_crossentropy',metrics = ['accuracy'])

In [54]:
sample_weight=np.concatenate((np.ones(train.shape[0])*3,np.ones(train.shape[0])*2,np.ones(train.shape[0])))

In [55]:
# fit differnt samples of data and then full data
keras_model2.fit(xtrain,ytrain, epochs=5, sample_weight=sample_weight,
          batch_size=512, verbose=1,validation_split=0.11)
keras_model2.fit(xtrain,ytrain, epochs=6, sample_weight=sample_weight,
          batch_size=270, verbose=1,validation_split=0.11)
keras_model2.fit(xtrain,ytrain, epochs=5, sample_weight=sample_weight,
          batch_size=270, verbose=1,validation_split=0.11)
keras_model2.fit(xtrain,ytrain, epochs=5, sample_weight=sample_weight,
          batch_size=512, verbose=1)
keras_model2.fit(xtrain,ytrain, epochs=4, sample_weight=sample_weight,
          batch_size=512, verbose=1)
keras_model2.fit(xtrain,ytrain, epochs=4, sample_weight=sample_weight,
          batch_size=512, verbose=1)

/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/indexed_slices.py:434: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "

Train on 185650 samples, validate on 22946 samples
Epoch 1/5
185650/185650 [==============================] - 687s 4ms/step - loss: 11.4040 - val_loss: 5.3682
Epoch 2/5
185650/185650 [==============================] - 678s 4ms/step - loss: 9.5587 - val_loss: 5.1585
Epoch 3/5
185650/185650 [==============================] - 673s 4ms/step - loss: 8.6609 - val_loss: 5.1163
Epoch 4/5
185650/185650 [==============================] - 670s 4ms/step - loss: 7.8552 - val_loss: 5.1771
Epoch 5/5
185650/185650 [==============================] - 671s 4ms/step - loss: 7.1235 - val_loss: 5.3050
Train on 185650 samples, validate on 22946 samples
Epoch 1/6
185650/185650 [==============================] - 772s 4ms/step - loss: 7.0108 - val_loss: 5.5259
Epoch 2/6
185650/185650 [==============================] - 769s 4ms/step - loss: 6.1872 - val_loss: 5.7557
Epoch 3/6
185650/185650 [==============================] - 776s 4ms/step - loss: 5.6365 - val_loss: 5.9825
Epoch 4/6
185650/185650 [==============================] - 764s 4ms/step - loss: 5.2525 - val_loss: 6.1717
Epoch 5/6
185650/185650 [==============================] - 764s 4ms/step - loss: 4.9714 - val_loss: 6.3459
Epoch 6/6
185650/185650 [==============================] - 765s 4ms/step - loss: 4.7722 - val_loss: 6.4356
Train on 185650 samples, validate on 22946 samples
Epoch 1/5
185650/185650 [==============================] - 764s 4ms/step - loss: 4.6232 - val_loss: 6.5923
Epoch 2/5
185650/185650 [==============================] - 764s 4ms/step - loss: 4.5091 - val_loss: 6.6882
Epoch 3/5
185650/185650 [==============================] - 764s 4ms/step - loss: 4.4159 - val_loss: 6.7494
Epoch 4/5
185650/185650 [==============================] - 765s 4ms/step - loss: 4.3541 - val_loss: 6.7854
Epoch 5/5
185650/185650 [==============================] - 768s 4ms/step - loss: 4.2953 - val_loss: 6.8535
Epoch 1/5
208596/208596 [==============================] - 732s 4ms/step - loss: 3.9572
Epoch 2/5
208596/208596 [==============================] - 732s 4ms/step - loss: 3.7515
Epoch 3/5
208596/208596 [==============================] - 732s 4ms/step - loss: 3.7476
Epoch 4/5
208596/208596 [==============================] - 728s 3ms/step - loss: 3.7504
Epoch 5/5
208596/208596 [==============================] - 728s 3ms/step - loss: 3.7473
Epoch 1/4
208596/208596 [==============================] - 727s 3ms/step - loss: 3.7415
Epoch 2/4
208596/208596 [==============================] - 728s 3ms/step - loss: 3.7288
Epoch 3/4
208596/208596 [==============================] - 731s 4ms/step - loss: 3.7089
Epoch 4/4
208596/208596 [==============================] - 729s 3ms/step - loss: 3.6967
Epoch 1/4
208596/208596 [==============================] - 733s 4ms/step - loss: 3.6781
Epoch 2/4
208596/208596 [==============================] - 733s 4ms/step - loss: 3.6595
Epoch 3/4
208596/208596 [==============================] - 734s 4ms/step - loss: 3.6432
Epoch 4/4
208596/208596 [==============================] - 735s 4ms/step - loss: 3.6257

In [73]:
import pickle
pickle.dump(keras_model2.to_json(),open('gru4.pkl','wb'))

In [74]:
import h5py
import keras
# from importlib import reload
# import keras
keras_model2.save_weights('gru4.weights')

In [75]:
def sample(preds, temperature=1.0):
    if temperature <= 0:
        return preds.argsort()[-3:][::-1]
    preds = np.asarray(preds).astype('float64')
    preds = np.log(preds) / temperature
    exp_preds = np.exp(preds)
    preds = exp_preds / np.sum(exp_preds)
    probas = np.random.multinomial(1, preds, 1)
#     print max(probas[0])
    retar= probas[0].argsort()[-3:][::-1]
    return retar

def generate_next(text):
    global count 
    count =0
    count+=1
    if count%100==0:
       print (count)
    word_idxs = [word2idx(word) for word in text.split()]
    prediction = keras_model2.predict(x=np.array(word_idxs))
#     print prediction
    idxl = sample(prediction[-1], temperature=0.0)
#     word_idxs.e(idx)
#     print idxl
    return [idx2word(idx) for idx in idxl]

In [76]:
test.challenge.values[0]

'CI23855 CI23933 CI24917 CI24915 CI23714 CI23663 CI24958 CI25135 CI25727 CI24530'

In [77]:
generate_next('CI23855 CI23933 CI24917 CI24915 CI23714 CI23663 CI24958 CI25135 CI25727 CI24530')

['CI25925', 'CI24349', 'CI28625']

In [78]:
test_inds=np.array(test.challenge.apply(lambda x: np.array([word2idx(word) for word in x.split()])).tolist())

In [79]:
test_inds.shape, xtrain.shape

((39732, 10), (208596, 10))

In [80]:
# make predictions
nnpred=keras_model2.predict(test_inds)

In [81]:
nnpred.shape

(39732, 5502)

In [82]:
nnpred2= pd.Series(nnpred.argsort(axis=1)[:,-3:].tolist())

In [83]:
# store to csv
count=0
test['pred']=nnpred2.apply(lambda x: [idx2word(y) for y in x[::-1]])
test_sub= test.copy()
test_sub=pd.concat((test_sub,test_sub,test_sub))
test_sub=test_sub.sort_values('user_id').reset_index(drop=True)
test_sub['seq']=test_sub.groupby('user_id').cumcount()
test_sub.seq= test_sub.seq+11
test_sub['user_sequence']= test_sub.user_id.astype('str') + '_' + test_sub.seq.astype('str')
test_sub['challenge']=test_sub.apply(lambda row: row['pred'][row['seq']-11], axis=1)
test_sub[['user_sequence','challenge']].to_csv('ksubmission.csv',index=False)